body {
  background: #2F0134;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
}
h1 {
  font-size: 3em;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}
h2 {
  font-size: 2em;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
#wrapper {
  width: 900px;
  margin: auto;
  padding-bottom: 100px;
}
#hero {
  width: 100%;
}
#members .member {
  float: left;
  width: 450px;
  box-sizing: border-box;
  padding: 25px;
  padding-right: 0;
  float: left;
}
.member .avatar, .member .details {
  float: left;
}
.member .details {
  margin-left: 10px;
  width: 300px;
}
.member p {
  margin: 0;
  padding-top: 5px;
}
.member h3 {
  margin: 0;
  padding: 0;
}

